html {
  background-color: #bada55;
  text-align: center;
}

.video-container {
  padding: 6px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

video {
  height: 300px;
  border-radius: 5px;
}
